<header class="header">
  <div class="header-container">
    <a href="/" class="header-logo">Reservation App</a>
    <nav class="header-nav">
      <% if user_signed_in? %>
        <div class="header-user-menu" id="dropdown-start">
          <%if current_user.profile_image.attached? %>
            <%= image_tag current_user.profile_image, alt: "ユーザーアイコン", class: "header-user-icon" %>
          <% else %>
            <%= image_tag "default-icon.png", alt: "ユーザーアイコン", class: "header-user-icon" %>
          <% end %>
          <span class="header-user-name"><%= current_user.name %>∨</span>
        </div>
        <div class="header-dropdown-menu" id="dropdown-menu">
          <%= link_to "施設の新規登録", new_room_path, class: "header-dropdown-item" %>
          <%= link_to "予約済み一覧", reservations_path, class: "header-dropdown-item" %>
          <%= link_to "登録済み一覧", registered_room_path(current_user), class: "header-dropdown-item" %>
          <%= link_to "アカウント設定", users_index_path, class: "header-dropdown-item" %>
          <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-dropdown-item" %>
        </div>
      <% else %>
        <a href="<%= new_user_session_path %>" class="header-nav-btn">ログイン</a>
        <a href="<%= new_user_registration_path %>" class="header-nav-btn header-nav-btn-primary">新規登録</a>
      <% end %>
    </nav>
  </div>
</header>